VITE_TMDB_API_KEY=

VITE_APPWRITE_PROJECT_ID=
VITE_APPWRITE_DATABASE_ID=
VITE_APPWRITE_TABLE_ID=
VITE_APPWRITE_WATCH_PARTIES_TABLE_ID=
VITE_APPWRITE_PARTY_MEMBERS_TABLE_ID=
VITE_APPWRITE_WATCH_PROGRESS_TABLE_ID=
